# Ignorar arquivos de compilação do Maven
target/

# Ignorar arquivos específicos do Eclipse (Opcional, mas recomendado para projetos compartilhados)
.settings/
.classpath
.project
bin/

# Ignorar arquivos do sistema operacional
.DS_Store
Thumbs.db